[Desktop Entry]
Name=Stow
Comment=High-speed steganographic video concealer and extractor
Exec=stow-gui
Icon=stow
Terminal=false
Type=Application
Categories=Utility;Security;Graphics;
Keywords=steganography;stow;png;video;crypto;security;
